
.login-container h2 {
  text-align: center;
}

.login-container form {
  display: flex;
  flex-direction: column;
}

.login-container div {
  margin-bottom: 1em;
}

.login-container label {
  margin-bottom: 0.5em;
  color: #333333;
  font-weight: bold;
}

.login-container input {
  padding: 0.5em;
  font-size: 1em;
}

.login-container button {
  padding: 0.7em;
  font-size: 1em;
  background: #007BFF;
  border: none;
  color: white;
  border-radius: 5px;
}

.login-container button:hover {
  background: #0056b3;
}
